---
title: Accordéon
---

p Les accordéons permettent aux utilisateurs d'afficher et de masquer des sections de contenu présentés dans une page.


== render('/partials/example.*',
  caption: "Creating a simple accordion",
  code: accordion_normal) do

== render('/partials/related-info.*', links: accordion_info)
