---
title: Bouton ProConnect
---

.fr-text-wrap
  :markdown
    Depuis la version 1.15 du DSFR, le bouton ProConnect est intégré nativement
    via la classe modificatrice `fr-connect--pro`.

= render('/partials/example.haml', caption: "Par défaut", code: proconnect_button_default) do
  :markdown
    Dans son implémentation la plus simple, le bouton `POST` sur l'attribut `target:`.


= render('/partials/example.haml', caption: "Surcharge du bouton", code: proconnect_button_override) do
  :markdown
    Si vous devez configurer le bouton au delà de l'implémentation par défaut, vous pouvez utiliser `button_attributes:`

= render('/partials/related-info.haml', links: [["Boutons FranceConnect et ProConnect sur la documentation du DSFR", "https://www.systeme-de-design.gouv.fr/composants-et-modeles/composants/bouton-franceconnect-et-proconnect"]])
