---
title: Bouton ProConnect
---

.fr-text-wrap
  :markdown
    Le bouton ProConnect n'est pas directement régi par le DSFR mais
    il est inclu ici car il se base sur le bouton FranceConnect qui
    lui en fait partie. Comme ce dernier, son aspect visuel est à
    respecter pour permettre aux usagers de l'identifier plus
    facilement.

= render('/partials/example.haml', caption: "Par défaut", code: proconnect_button_default) do
  :markdown
    Dans son implémentation la plus simple, le bouton `POST` sur l'attribut `target:`.


= render('/partials/example.haml', caption: "Surcharge du bouton", code: proconnect_button_override) do
  :markdown
    Si vous devez configurer le bouton au delà de l'implémentation par défaut, vous pouvez utiliser `button_attributes:`

= render('/partials/related-info.haml', links: [["Le bouton ProConnect sur la documentation ProConnect", "https://partenaires.proconnect.gouv.fr/docs/fournisseur-service/bouton_proconnect"]])
