---
title: Indicateur d'étape - Stepper
---

.fr-text-wrap
  :markdown
    L’indicateur d'étape permet d’indiquer à l’utilisateur où il se trouve dans un formulaire ou dans une démarche.

    Cet indicateur d'étape est utilisable dans le cas d’un processus linéaire, le composant ne permet pas de naviguer d’une étape à une autre (pour cela, il faudra utiliser des boutons).


= render('/partials/example.haml', caption: "Étape intermédiaire", code: stepper_default) do
  :markdown
    Tous les paramètres sont obligatoires.
    L'API de ce composant s’inspire du tag `<progress value="3" max="5" />` HTML.

= render('/partials/example.haml', caption: "Dernière étape", code: stepper_last_step) do
  :markdown
    Le titre de l’étape suivante est obligatoire pour toutes les étapes sauf la dernière.


= render('/partials/related-info.haml', links: dsfr_component_doc_link("Indicateur d'étape - Stepper", "indicateur-d-etape"))
