.ruby-version
.envrc
.bundle/
log/*.log
pkg/
coverage
*.gem
.tool-versions
guide/tmp
guide/output
guide/*.log
guide/node_modules
guide/content/javascripts/*
guide/content/stylesheets/fonts/*
guide/content/stylesheets/icons/*
.yardoc
