<%= tag.div(class: 'fr-skiplinks', **html_attributes) do %>
  <nav class="fr-container" role="navigation" aria-label="<%= label %>">
    <ul class="fr-skip-link__list">
      <% links.each do |link| %>
        <li>
          <%= link %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
