---
title: Configuration
---

markdown:
  Cette gem essaie de suivre les recommendations de DSFR au plus proche. Vous pouvez cependant configurer de manière globale certains paramètres pour mieux coller aux besoins de votre site.

  Les paramètres globaux sont modifiables via un initializer. Créez un fichier `config/initializers/dsfr_components.rb` et remplissez-le de la manière suivante :

pre
  code.highlight.language-ruby
    | Dsfr::Components.configure do |conf|
        conf.default_breadcrumbs_collapse_on_mobile = true
        conf.default_header_service_name = "Apply for a Juggling Licence"
        conf.default_phase_banner_text = "Beta"
        conf.default_summary_list_borders = false
        conf.default_tag_colour = "turquoise"
      end

markdown:
  You can see a full list of the configurable options in
  [engine.rb](https://github.com/betagouv/dsfr-view-components/blob/main/lib/dsfr/components/engine.rb).
