---
title: Installation
---

.fr-grid-row
  .fr-col-md-8
    %p
      Ces composants sont utilisables avec n'importe quel application Rails utilisant le
      %a{href: design_system_link, target: "_blank", rel: "noopeneer"}
        Système de Design de lʼÉtat (DSFR)
      \.

      Ils sont construits sur le framework
      %a{href: "https://viewcomponent.org/", target: "_blank", rel: "noopeneer"}
        ViewComponent de GitHub
      pour être facilement réutilisables

    %h2 Installation

    Ajoutez cette ligne à votre Gemfile et lancez `bundle install`.

    .code-sample
      %pre.highlight
        %code.language-ruby
          gem 'dsfr-view-components'

    %p
      Au redémarrage vous devriez avoir accès à tous les composants du DSFR.
      Vous pouvez le vérifier en testant dans une console avec `rails console`:

    .code-sample
      %pre.highlight
        %code.language-ruby
          DsfrComponent::PanelComponent.new(title_text: "Hello", text: "world!")

    %p
      Si vous ne voyez pas de message d'erreur, tout fonctionne. Vous pouvez passer à
      = link_to "l'utilisation de composants dans vos templates", "/introduction/utilisation"
