---
title: Versions supportées
---

%p
  Cette gem supporte les dernières versions stables du
  = link_to 'Système de Design de lʼÉtat', design_system_link, target: "_blank", rel: "noopener"
  , de
  = link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: "_blank", rel: "noopener"
  et de
  = link_to 'Ruby', 'https://www.ruby-lang.org', target: "_blank", rel: "noopener"
  \.

%table.fr-table
  %thead
    %tr
      %th
        DSFR-View-Components
      %th
        = Dsfr::Components::VERSION
  %tbody
    %tr
      %th
        DSFR
      %td
        1.8.0
    %tr
      %th
        Ruby on Rails
      %td
        7.0.3
        %br
        6.1.5
    %tr
      %th
        Ruby
      %td
        3.1.2
        %br
        3.0.4
        %br
        2.7.6
