---
title: Liens
---

.fr-text-wrap
  markdown:
    Le DSFR distingue plusieurs types de liens selon leur cible ou le
    contexte où ils se trouvent :

    * les liens au fil du texte ;
    * les liens hors-texte ;
    * les liens internes (qui pointent sur le même site) ;
    * les liens externes (qui pointent en dehors du site).

    Comme le DSFR applique des styles même à des liens "nus" (c'est à
    dire sans classe CSS spécifique) il n'est pas toujours nécessaire
    de passer par les helpers fournis par notre librairie. Voir le
    premier exemple ci-dessous.

p
  ' Les helpers fournis pour les liens suivent la signature du
  == link_to('link_to de Rails',
  'https://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to',
  { target: '_blank', rel: 'noopener' })
  | .

== render('/partials/example.*',
  caption: "Vue d'ensemble",
  code: all_links) do
  markdown:
    Quelques combinaisons (au fil du texte/interne,
    hors-texte/externe, etc.) sont exposées ici.

== render('/partials/example.*',
  caption: "Lien au fil du texte",
  code: link_embed) do
  markdown:
    Liens sans attributs particuliers, au fil du texte. Ils n'ont pas
    besoin d'une classe CSS particulière et sont automatiquement récupérés
    par le DSFR, ce qui explique pourquoi on emploie simplement le
    `link_to` de Rails dans l'exemple ci dessous.

    Ils peuvent être internes ou externes.

== render('/partials/example.*',
  caption: "Lien hors-texte",
  code: link_simple) do
  markdown:
    Liens hors-texte, indépendants, aussi appellés liens simples par
    le DSFR. Ils sont identifiés par la classe `.fr-link` et on
    préférera donc `dsfr_link_to` dans ce cas-là.

    Ils peuvent être internes ou externes.

    Il est possible de rajouter une icône à droite ou à gauche en
    passant `icon_left: "nom de l'icône"` dans les attributs pour les
    liens internes ; les liens externes sont déjà marqués par une
    icône donc il est fortement décommandé d'en faire usage sur eux.

  p
    ' Vous pouvez consulter
    == link_to('la liste des icônes sur le site du DSFR', 'https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/icones/', target: '_blank', rel: 'noopener')
    | .

  markdown:
    Enfin vous pouvez aussi jouer de trois tailles différentes pour
    vos liens : `sm`, `md` (par défaut) et `lg`.
