---
title: Bouton ProConnect
---

.fr-text-wrap
  :markdown
    Le bouton ProConnect n'est pas régi par le DSFR mais se base sur
    celui de FranceConnect qui l'est. Vous devez respecter son visuel
    et les mentions pour aider les utilisateurs.

= render('/partials/example.haml', caption: "Exemple", code: proconnect_button) do
  :markdown
    Par défaut le bouton `POST` sur l'attribut `target`. Vous pouvez
    surchargez ses attributs comme dans l'exemple suivant.
