$orange: darken(#f47738, 20%);
$blue: #1d70b8;
$dark-blue: #003078;
$pink: darken(#d53880, 10%);
$text: #0b0c0c;
$green: #00703c;
$light-grey: #f3f2f1;
$light-pink: lighten(#f499be, 20%);
$red: #d4351c;
$dark-green: #365e07;

pre>code {
  &.highlight {
    color: $text;

    .s,
    .s1,
    .s2,
    .vi,
    .sx {
      color: $pink;
    }

    .nt,
    .nf,
    .nc {
      color: $orange;
    }

    .n,
    .p,
    .k,
    .mi,
    .n,
    .o,
    .na,
    .ss {
      color: $dark-blue;
    }

    .k {
      font-weight: 600;
    }

    .no {
      color: #0e5e5e;
    }

    .kp {
      color: $green;
    }

    // comments
    .c,
    .c1 {
      color: $dark-green;
      font-style: italic;
    }
  }
}


html[data-fr-theme=dark] {
  pre>code {
    &.highlight {
      color: invert($text);

      .s,
      .s1,
      .s2,
      .vi,
      .sx {
        color: invert($pink);
      }

      .nt,
      .nf,
      .nc {
        color: invert($orange);
      }

      .n,
      .p,
      .k,
      .mi,
      .n,
      .o,
      .na,
      .ss {
        color: invert($dark-blue);
      }

      .no {
        color: invert(#0e5e5e);
      }

      .kp {
        color: invert($green);
      }

      // comments
      .c,
      .c1 {
        color: invert($dark-green);
      }
    }
  }
}
