$functions-color: var(--text-active-blue-france);
$names-color: var(--text-label-blue-cumulus);
$strings-color: var(--text-label-red-marianne);
$text-color: var(--text-active-grey);
$pseudo-keywords-color: var(--text-label-green-emeraude);
$comments-color: var(--text-default-grey);
$constants-color: var(--text-action-high-green-menthe);

pre.highlight {
  background: var(--background-default-grey);
  color: $text-color;

  .s,
  .s1,
  .s2,
  .vi,
  .sx {
    color: $strings-color;
  }

  .nt,
  .nf,
  .nc {
    color: $functions-color;
  }

  .n,
  .p,
  .k,
  .mi,
  .n,
  .o,
  .na,
  .ss {
    color: $names-color;
  }

  .k {
    font-weight: 600;
  }

  .no {
    color: $constants-color;
  }

  .kp {
    color: $pseudo-keywords-color;
  }

  // comments
  .c,
  .c1 {
    color: $comments-color;
    font-style: italic;
  }
}
