// Import the DSFR
@use "pkg:@gouvfr/dsfr/dist/dsfr.min.css";
@use "pkg:@gouvfr/dsfr/dist/utility/utility.min.css";

// code CSS
@use "highlight";

figure {
  padding: 0;
  margin: 0;
}

.fr-text-wrap {
  max-width: 42rem;
}

code {
  background: var(--background-alt-grey);
  font-size: 0.9rem;
}
