<!DOCTYPE html><html data-fr-scheme="system" lang="fr"><head>
<meta charset="utf-8">
<title>
Modal - Composants Rails ViewComponent pour le Système de Design de lʼÉtat
</title>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="#000091" name="theme-color">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<link href="../../favicon/apple-touch-icon.png" rel="apple-touch-icon">
<link href="../../favicon/favicon.svg" rel="icon" type="image/svg+xml">
<link href="../../favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link crossorigin="use-credentials" href="../../favicon/manifest.webmanifest" rel="manifest">
<link href="../../stylesheets/application.css" rel="stylesheet">
</head>

<body>
<div class="fr-skiplinks">
<nav aria-label="Accès rapide" class="fr-container" role="navigation">
<ul class="fr-skiplinks__list">
<li>
<a class="fr-link" href="#content">
Contenu
</a>
</li>
</ul>
</nav>
</div>
<header class="fr-header" role="banner">
<div class="fr-header__body">
<div class="fr-container">
<div class="fr-header__body-row">
<div class="fr-header__brand fr-enlarge-link">
<div class="fr-header__brand-top">
<div class="fr-header__logo">
<p class="fr-logo">
République
<br>
Française
</p>
</div>
</div>
<div class="fr-header__service">
<a href="../../" title="Composants Rails ViewComponent pour le Système de Design de lʼÉtat - Accueil">
<p class="fr-header__service-title">
DSFR-View-Components
</p>
</a>
<p class="fr-header__service-tagline">
Composants Rails ViewComponent pour le Système de Design de lʼÉtat
</p>
</div>
</div>
</div>
</div>
</div>
</header>

<main id="contenu" role="main">
<div class="fr-container">
<nav aria-label="Vous êtes ici :" class="fr-breadcrumb" role="navigation">
<button aria-controls="breadcrumb-1" aria-expanded="false" class="fr-breadcrumb__button">
Voir le fil d’Ariane
</button>
<div class="fr-collapse" id="breadcrumb-1">
<ol class="fr-breadcrumb__list">
<li>
<a class="fr-breadcrumb__link" href="../../">Accueil</a>
</li>
<li>
<a class="fr-breadcrumb__link" aria-current="page" href="">Modal</a>
</li>
</ol>
</div>
</nav>

<h1>Modal</h1>
<div class="fr-text-wrap">
<p>La modale permet de concentrer l’attention de l’utilisateur exclusivement sur une tâche ou un élément d’information, sans perdre le contexte de la page en cours. Ce composant nécessite une action de l’utilisateur afin d’être clôturée ou ouverte.</p>


</div>
<h3 class="fr-mt-8w" id="modale-simple">
<a class="header-anchor" href="#modale-simple">Modale simple</a>
</h3>
<div class="fr-text-wrap">
<p>La modale par défaut permet de mettre en évidence une information qui ne nécessite pas d’action de l’utilisateur.</p>

<p>Les modales s’affichent suite à un clic sur un bouton qui possède l’attribut <code>aria-controls</code> correspondant à l’identifiant de la modale ET l’attribut <code>data-fr-opened</code> à <code>false</code>.</p>



</div>
<figure class="app-example">
<h4>Code</h4>
<pre class="highlight"><code class="language-haml"><span class="p">=</span> <span class="n">dsfr_modal</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"Information importante"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="ss">id: </span><span class="s2">"modal-1"</span> <span class="p">})</span> <span class="k">do</span> <span class="o">|</span><span class="n">component</span><span class="o">|</span>
  <span class="nt">%p</span> Bonjour ceci est important
<span class="p">=</span> <span class="n">dsfr_button</span><span class="p">(</span><span class="ss">label: </span><span class="s2">"Ouvrir la modale"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="s2">"data-fr-opened"</span><span class="p">:</span> <span class="kp">false</span><span class="p">,</span> <span class="s2">"aria-controls"</span><span class="p">:</span> <span class="s2">"modal-1"</span> <span class="p">})</span></code></pre>
<h4>Résultat</h4>
<div class="fr-tabs">
<ul class="fr-tabs__list" role="tablist">
<li role="presentation">
<button aria-controls="output-rendered-modale-simple" aria-selected="true" class="fr-tabs__tab" id="output-rendered-modale-simple" role="tab" tabindex="0">
Rendu
</button>
</li>
<li role="presentation">
<button aria-controls="output-html-modale-simple" aria-selected="false" class="fr-tabs__tab" id="output-html-modale-simple" role="tab" tabindex="0">
HTML
</button>
</li>
</ul>
<div aria-labelledby="output-rendered-modale-simple" class="fr-tabs__panel fr-tabs__panel--selected" id="output-rendered-modale-simple" role="tabpanel">
<dialog class="fr-modal" role="dialog" id="modal-1" aria-labelledby="modal-1-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="modal-1" type="button">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 class="fr-modal__title" id="modal-1-title">
              Information importante
            </h1>
            <p>
              Bonjour ceci est important
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
<button class="fr-btn" data-fr-opened="false" aria-controls="modal-1">
  Ouvrir la modale
</button>
</div>
<div aria-labelledby="output-html-modale-simple" class="fr-tabs__panel" id="output-html-modale-simple" role="tabpanel">
<pre class="highlight"><code class="language-html"><span class="nt">&lt;dialog</span> <span class="na">class=</span><span class="s">"fr-modal"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">id=</span><span class="s">"modal-1"</span> <span class="na">aria-labelledby=</span><span class="s">"modal-1-title"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-container fr-container--fluid fr-container-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-grid-row fr-grid-row--center"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-col-12 fr-col-md-8 fr-col-lg-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__body"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__header"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-link--close fr-link"</span> <span class="na">aria-controls=</span><span class="s">"modal-1"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>
              Fermer
            <span class="nt">&lt;/button&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"fr-modal__title"</span> <span class="na">id=</span><span class="s">"modal-1-title"</span><span class="nt">&gt;</span>
              Information importante
            <span class="nt">&lt;/h1&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              Bonjour ceci est important
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/dialog&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span> <span class="na">data-fr-opened=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"modal-1"</span><span class="nt">&gt;</span>
  Ouvrir la modale
<span class="nt">&lt;/button&gt;</span></code></pre>
</div>
</div>
</figure>
<h3 class="fr-mt-8w" id="modale-avec-un-bouton">
<a class="header-anchor" href="#modale-avec-un-bouton">Modale avec un bouton</a>
</h3>
<div class="fr-text-wrap">
<p>La modale avec une zone d’action permet de guider l’utilisateur vers des actions attendues.</p>

<p>Dans ce cas, vous pouvez passer les arguments au composant Button directement.</p>



</div>
<figure class="app-example">
<h4>Code</h4>
<pre class="highlight"><code class="language-haml"><span class="p">=</span> <span class="n">dsfr_modal</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"Information importante"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="ss">id: </span><span class="s2">"modal-2"</span> <span class="p">})</span> <span class="k">do</span> <span class="o">|</span><span class="n">component</span><span class="o">|</span>
  <span class="p">-</span> <span class="n">component</span><span class="p">.</span><span class="nf">with_button</span> <span class="k">do</span>
    <span class="p">=</span> <span class="n">dsfr_button</span> <span class="ss">label: </span><span class="s2">"Valider"</span>
  <span class="nt">%p</span> Bonjour ceci est très important
<span class="p">=</span> <span class="n">dsfr_button</span><span class="p">(</span><span class="ss">label: </span><span class="s2">"Ouvrir la modale"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="s2">"data-fr-opened"</span><span class="p">:</span> <span class="kp">false</span><span class="p">,</span> <span class="s2">"aria-controls"</span><span class="p">:</span> <span class="s2">"modal-2"</span> <span class="p">})</span></code></pre>
<h4>Résultat</h4>
<div class="fr-tabs">
<ul class="fr-tabs__list" role="tablist">
<li role="presentation">
<button aria-controls="output-rendered-modale-avec-un-bouton" aria-selected="true" class="fr-tabs__tab" id="output-rendered-modale-avec-un-bouton" role="tab" tabindex="0">
Rendu
</button>
</li>
<li role="presentation">
<button aria-controls="output-html-modale-avec-un-bouton" aria-selected="false" class="fr-tabs__tab" id="output-html-modale-avec-un-bouton" role="tab" tabindex="0">
HTML
</button>
</li>
</ul>
<div aria-labelledby="output-rendered-modale-avec-un-bouton" class="fr-tabs__panel fr-tabs__panel--selected" id="output-rendered-modale-avec-un-bouton" role="tabpanel">
<dialog class="fr-modal" role="dialog" id="modal-2" aria-labelledby="modal-2-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="modal-2" type="button">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 class="fr-modal__title" id="modal-2-title">
              Information importante
            </h1>
            <p>
              Bonjour ceci est très important
            </p>
          </div>
          <div class="fr-modal__footer">
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <p>
                Bonjour ceci est très important
              </p>
              <button class="fr-btn">
                Valider
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
<button class="fr-btn" data-fr-opened="false" aria-controls="modal-2">
  Ouvrir la modale
</button>
</div>
<div aria-labelledby="output-html-modale-avec-un-bouton" class="fr-tabs__panel" id="output-html-modale-avec-un-bouton" role="tabpanel">
<pre class="highlight"><code class="language-html"><span class="nt">&lt;dialog</span> <span class="na">class=</span><span class="s">"fr-modal"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">id=</span><span class="s">"modal-2"</span> <span class="na">aria-labelledby=</span><span class="s">"modal-2-title"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-container fr-container--fluid fr-container-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-grid-row fr-grid-row--center"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-col-12 fr-col-md-8 fr-col-lg-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__body"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__header"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-link--close fr-link"</span> <span class="na">aria-controls=</span><span class="s">"modal-2"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>
              Fermer
            <span class="nt">&lt;/button&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"fr-modal__title"</span> <span class="na">id=</span><span class="s">"modal-2-title"</span><span class="nt">&gt;</span>
              Information importante
            <span class="nt">&lt;/h1&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              Bonjour ceci est très important
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__footer"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;p&gt;</span>
                Bonjour ceci est très important
              <span class="nt">&lt;/p&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span><span class="nt">&gt;</span>
                Valider
              <span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/dialog&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span> <span class="na">data-fr-opened=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"modal-2"</span><span class="nt">&gt;</span>
  Ouvrir la modale
<span class="nt">&lt;/button&gt;</span></code></pre>
</div>
</div>
</figure>
<h3 class="fr-mt-8w" id="modale-avec-deux-boutons">
<a class="header-anchor" href="#modale-avec-deux-boutons">Modale avec deux boutons</a>
</h3>
<div class="fr-text-wrap">
<p>Il peut aussi y avoir un groupe de boutons hiérarchisé.</p>



</div>
<figure class="app-example">
<h4>Code</h4>
<pre class="highlight"><code class="language-haml"><span class="p">=</span> <span class="n">dsfr_modal</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"Information importante"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="ss">id: </span><span class="s2">"modal-3"</span> <span class="p">})</span> <span class="k">do</span> <span class="o">|</span><span class="n">component</span><span class="o">|</span>
  <span class="nt">%p</span> Bonjour ceci est extrêmement important
  <span class="p">-</span> <span class="n">component</span><span class="p">.</span><span class="nf">with_button</span> <span class="k">do</span>
    <span class="p">=</span> <span class="n">dsfr_button</span> <span class="ss">label: </span><span class="s2">"Valider"</span>
  <span class="p">-</span> <span class="n">component</span><span class="p">.</span><span class="nf">with_button</span> <span class="k">do</span>
    <span class="p">=</span> <span class="n">dsfr_button</span> <span class="ss">label: </span><span class="s2">"Annuler"</span><span class="p">,</span> <span class="ss">level: :secondary</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="s2">"aria-controls"</span><span class="p">:</span> <span class="s2">"modal-3"</span> <span class="p">}</span>
<span class="p">=</span> <span class="n">dsfr_button</span><span class="p">(</span><span class="ss">label: </span><span class="s2">"Ouvrir la modale"</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="s2">"data-fr-opened"</span><span class="p">:</span> <span class="kp">false</span><span class="p">,</span> <span class="s2">"aria-controls"</span><span class="p">:</span> <span class="s2">"modal-3"</span> <span class="p">})</span></code></pre>
<h4>Résultat</h4>
<div class="fr-tabs">
<ul class="fr-tabs__list" role="tablist">
<li role="presentation">
<button aria-controls="output-rendered-modale-avec-deux-boutons" aria-selected="true" class="fr-tabs__tab" id="output-rendered-modale-avec-deux-boutons" role="tab" tabindex="0">
Rendu
</button>
</li>
<li role="presentation">
<button aria-controls="output-html-modale-avec-deux-boutons" aria-selected="false" class="fr-tabs__tab" id="output-html-modale-avec-deux-boutons" role="tab" tabindex="0">
HTML
</button>
</li>
</ul>
<div aria-labelledby="output-rendered-modale-avec-deux-boutons" class="fr-tabs__panel fr-tabs__panel--selected" id="output-rendered-modale-avec-deux-boutons" role="tabpanel">
<dialog class="fr-modal" role="dialog" id="modal-3" aria-labelledby="modal-3-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="modal-3" type="button">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 class="fr-modal__title" id="modal-3-title">
              Information importante
            </h1>
            <p>
              Bonjour ceci est extrêmement important
            </p>
          </div>
          <div class="fr-modal__footer">
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <p>
                Bonjour ceci est extrêmement important
              </p>
              <button class="fr-btn">
                Valider
              </button>
              <p>
                Bonjour ceci est extrêmement important
              </p>
              <button class="fr-btn">
                Valider
              </button>
              <button class="fr-btn fr-btn--secondary" aria-controls="modal-3">
                Annuler
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
<button class="fr-btn" data-fr-opened="false" aria-controls="modal-3">
  Ouvrir la modale
</button>
</div>
<div aria-labelledby="output-html-modale-avec-deux-boutons" class="fr-tabs__panel" id="output-html-modale-avec-deux-boutons" role="tabpanel">
<pre class="highlight"><code class="language-html"><span class="nt">&lt;dialog</span> <span class="na">class=</span><span class="s">"fr-modal"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">id=</span><span class="s">"modal-3"</span> <span class="na">aria-labelledby=</span><span class="s">"modal-3-title"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-container fr-container--fluid fr-container-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-grid-row fr-grid-row--center"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-col-12 fr-col-md-8 fr-col-lg-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__body"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__header"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-link--close fr-link"</span> <span class="na">aria-controls=</span><span class="s">"modal-3"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>
              Fermer
            <span class="nt">&lt;/button&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"fr-modal__title"</span> <span class="na">id=</span><span class="s">"modal-3-title"</span><span class="nt">&gt;</span>
              Information importante
            <span class="nt">&lt;/h1&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              Bonjour ceci est extrêmement important
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__footer"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;p&gt;</span>
                Bonjour ceci est extrêmement important
              <span class="nt">&lt;/p&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span><span class="nt">&gt;</span>
                Valider
              <span class="nt">&lt;/button&gt;</span>
              <span class="nt">&lt;p&gt;</span>
                Bonjour ceci est extrêmement important
              <span class="nt">&lt;/p&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span><span class="nt">&gt;</span>
                Valider
              <span class="nt">&lt;/button&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn fr-btn--secondary"</span> <span class="na">aria-controls=</span><span class="s">"modal-3"</span><span class="nt">&gt;</span>
                Annuler
              <span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/dialog&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-btn"</span> <span class="na">data-fr-opened=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"modal-3"</span><span class="nt">&gt;</span>
  Ouvrir la modale
<span class="nt">&lt;/button&gt;</span></code></pre>
</div>
</div>
</figure>
<h3 class="fr-mt-8w" id="modale-pre-ouverte-pour-turbo-drive">
<a class="header-anchor" href="#modale-pre-ouverte-pour-turbo-drive">Modale pré-ouverte pour Turbo Drive</a>
</h3>
<div class="fr-text-wrap">
<p>La modale peut s’afficher ouverte dès le chargement de la page grace à l’option <code>opened: true</code>.
Cela permet notamment de rendre compatible cette modale avec un système comme Turbo Drive et de développer une application progressive, qui marchera avec ou sans JS.</p>

<p>Il faut pour cela bien penser que les boutons de fermetures natifs des modales ne fonctionneront pas dans ce cas (sans JS).
On peut donc par exemple utiliser des liens de navigation <code>dsfr_link_to</code> plutôt que des boutons.
De la même manière, il faut aussi bien penser à modifier le bouton du header par un lien en utilisant le slot <code>header</code>.</p>



</div>
<figure class="app-example">
<h4>Code</h4>
<pre class="highlight"><code class="language-haml"><span class="p">=</span> <span class="n">dsfr_modal</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"Information importante"</span><span class="p">,</span> <span class="ss">opened: </span><span class="kp">true</span><span class="p">,</span> <span class="ss">html_attributes: </span><span class="p">{</span> <span class="ss">id: </span><span class="s2">"modal-4"</span> <span class="p">})</span> <span class="k">do</span> <span class="o">|</span><span class="n">component</span><span class="o">|</span>
  <span class="nt">%p</span> Bonjour ceci est crucial
  <span class="p">-</span> <span class="n">component</span><span class="p">.</span><span class="nf">with_button</span> <span class="k">do</span>
    <span class="p">=</span> <span class="n">dsfr_link_to</span> <span class="s2">"Valider"</span><span class="p">,</span> <span class="s2">"#"</span><span class="p">,</span> <span class="ss">class: </span><span class="s2">"fr-btn"</span>
  <span class="p">-</span> <span class="n">component</span><span class="p">.</span><span class="nf">with_button</span> <span class="k">do</span>
    <span class="p">=</span> <span class="n">dsfr_link_to</span>  <span class="s2">"Annuler"</span><span class="p">,</span> <span class="s2">"#"</span><span class="p">,</span> <span class="ss">class: </span><span class="s2">"fr-btn fr-btn--secondary"</span></code></pre>
<h4>Résultat</h4>
<div class="fr-tabs">
<ul class="fr-tabs__list" role="tablist">
<li role="presentation">
<button aria-controls="output-rendered-modale-pre-ouverte-pour-turbo-drive" aria-selected="true" class="fr-tabs__tab" id="output-rendered-modale-pre-ouverte-pour-turbo-drive" role="tab" tabindex="0">
Rendu
</button>
</li>
<li role="presentation">
<button aria-controls="output-html-modale-pre-ouverte-pour-turbo-drive" aria-selected="false" class="fr-tabs__tab" id="output-html-modale-pre-ouverte-pour-turbo-drive" role="tab" tabindex="0">
HTML
</button>
</li>
</ul>
<div aria-labelledby="output-rendered-modale-pre-ouverte-pour-turbo-drive" class="fr-tabs__panel fr-tabs__panel--selected" id="output-rendered-modale-pre-ouverte-pour-turbo-drive" role="tabpanel">
<dialog class="fr-modal fr-modal--opened" role="dialog" id="modal-4" aria-labelledby="modal-4-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="modal-4" type="button">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 class="fr-modal__title" id="modal-4-title">
              Information importante
            </h1>
            <p>
              Bonjour ceci est crucial
            </p>
          </div>
          <div class="fr-modal__footer">
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <p>
                Bonjour ceci est crucial
              </p>
              <a class="fr-link fr-btn" href="#">
                Valider
              </a>
              <p>
                Bonjour ceci est crucial
              </p>
              <a class="fr-link fr-btn" href="#">
                Valider
              </a>
              <a class="fr-link fr-btn fr-btn--secondary" href="#">
                Annuler
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
</div>
<div aria-labelledby="output-html-modale-pre-ouverte-pour-turbo-drive" class="fr-tabs__panel" id="output-html-modale-pre-ouverte-pour-turbo-drive" role="tabpanel">
<pre class="highlight"><code class="language-html"><span class="nt">&lt;dialog</span> <span class="na">class=</span><span class="s">"fr-modal fr-modal--opened"</span> <span class="na">role=</span><span class="s">"dialog"</span> <span class="na">id=</span><span class="s">"modal-4"</span> <span class="na">aria-labelledby=</span><span class="s">"modal-4-title"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-container fr-container--fluid fr-container-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-grid-row fr-grid-row--center"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-col-12 fr-col-md-8 fr-col-lg-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__body"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__header"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"fr-link--close fr-link"</span> <span class="na">aria-controls=</span><span class="s">"modal-4"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>
              Fermer
            <span class="nt">&lt;/button&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__content"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"fr-modal__title"</span> <span class="na">id=</span><span class="s">"modal-4-title"</span><span class="nt">&gt;</span>
              Information importante
            <span class="nt">&lt;/h1&gt;</span>
            <span class="nt">&lt;p&gt;</span>
              Bonjour ceci est crucial
            <span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"fr-modal__footer"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;p&gt;</span>
                Bonjour ceci est crucial
              <span class="nt">&lt;/p&gt;</span>
              <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"fr-link fr-btn"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
                Valider
              <span class="nt">&lt;/a&gt;</span>
              <span class="nt">&lt;p&gt;</span>
                Bonjour ceci est crucial
              <span class="nt">&lt;/p&gt;</span>
              <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"fr-link fr-btn"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
                Valider
              <span class="nt">&lt;/a&gt;</span>
              <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"fr-link fr-btn fr-btn--secondary"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
                Annuler
              <span class="nt">&lt;/a&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/dialog&gt;</span></code></pre>
</div>
</div>
</figure>
<div class="fr-mt-4w">
<h2>
Plus d’informations
</h2>
<ul>
<li>
<a target="_blank" rel="noopener" href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/modale/">Modale sur la documentation du Système de Design de l’État</a>
</li>
</ul>
</div>

<style>
  .fr-tabs__panel {
    min-height: 400px;
  }
</style>

</div>
</main>
<footer class="fr-footer fr-mt-8w" id="footer" role="contentinfo">
<div class="fr-container">
<div class="fr-footer__body">
<div class="fr-footer__brand fr-enlarge-link">
<p class="fr-logo">
République
<br>
Française
</p>
</div>
<div class="fr-footer__content">
<p class="fr-footer__content-desc">
Composants Rails ViewComponent pour le Système de Design de lʼÉtat
<br>
Projet non-officiel porté par beta.gouv
</p>
<ul class="fr-footer__content-list">
<li class="fr-footer__content-item">
<a class="fr-footer__content-link" href="https://github.com/betagouv/dsfr-view-components" target="_blank">
GitHub
</a>
</li>
<li class="fr-footer__content-item">
<a class="fr-footer__content-link" href="https://www.systeme-de-design.gouv.fr/" target="_blank">
Système de Design de lʼÉtat
</a>
</li>
<!-- li.fr-footer__content-item -->
<!-- a.fr-footer__content-link target="_blank" href=rubygems_link -->
<!-- RubyGems -->
<!-- li.fr-footer__content-item -->
<!-- a.fr-footer__content-link target="_blank" href=documentation_link -->
<!-- RubyDoc Documentation -->
<!-- li.fr-footer__content-item -->
<!-- a.fr-footer__content-link target="_blank" href=code_climate_report_link -->
<!-- Code Climate report -->
</ul>
</div>
</div>
<div class="fr-footer__bottom">
<ul class="fr-footer__bottom-list">
<li class="fr-footer__bottom-item">
<a class="fr-footer__bottom-link" href="../../">Accueil</a>
</li>
<li class="fr-footer__bottom-item">
<button aria-controls="fr-theme-modal" class="fr-footer__bottom-link" data-fr-opened="false">
Paramètres d'affichage
</button>
</li>
</ul>
<div class="fr-footer__bottom-copy">
<p>
Sauf mention contraire, tous les contenus de ce site sont sous
<a target="_blank" rel="noopener" href="https://github.com/etalab/licence-ouverte/blob/master/LO.md">licence etalab-2.0</a>
</p>
</div>
</div>
</div>
</footer>
<dialog aria-labelledby="fr-theme-modal-title" class="fr-modal" id="fr-theme-modal" role="dialog">
<div class="fr-container fr-container--fluid fr-container-md">
<div class="fr-grid-row fr-grid-row--center">
<div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
<div class="fr-modal__body">
<div class="fr-modal__header">
<button aria-controls="fr-theme-modal" class="fr-link--close fr-link">
Fermer
</button>
</div>
<div class="fr-modal__content">
<h1 class="fr-modal__title" id="fr-theme-modal-title">
Paramètres d’affichage
</h1>
<div class="fr-form-group fr-display" id="fr-display">
<div class="fr-form-group">
<fieldset class="fr-fieldset">
<legend class="fr-fieldset__legend fr-text--regular" id="-legend">
Choisissez un thème pour personnaliser l’apparence du site.
</legend>
<div class="fr-fieldset__content">
<div class="fr-radio-group fr-radio-rich">
<input id="fr-radios-theme-light" name="fr-radios-theme" type="radio" value="light">
<label class="fr-label" for="fr-radios-theme-light">
Thème clair
</label>
<div class="fr-radio-rich__img" data-fr-inject-svg="">
<img alt="" src="../../artwork/light.svg">
</div>
</div>
<div class="fr-radio-group fr-radio-rich">
<input id="fr-radios-theme-dark" name="fr-radios-theme" type="radio" value="dark">
<label class="fr-label" for="fr-radios-theme-dark">
Thème sombre
</label>
<div class="fr-radio-rich__img" data-fr-inject-svg="">
<img alt="" src="../../artwork/dark.svg">
</div>
</div>
<div class="fr-radio-group fr-radio-rich">
<input id="fr-radios-theme-system" name="fr-radios-theme" type="radio" value="system">
<label class="fr-label" for="fr-radios-theme-system">
Système
<span class="fr-hint-text">Utilise les paramètres système.</span>
</label>
<div class="fr-radio-rich__img" data-fr-inject-svg="">
<img alt="" src="../../artwork/system.svg">
</div>
</div>
</div>
</fieldset>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</dialog>

<script src="../../javascripts/dsfr.module.min.js" type="module"></script>
<script nomodule="true" src="../../javascripts/dsfr.nomodule.min.js" type="text/javascript"></script>



</body></html>