// Import the DSFR
@import "dsfr/dist/dsfr.min";
@import "dsfr/dist/utility/utility.min";

// Applicaton components
@import "components/highlight";

figure {
  padding: 0;
  margin: 0;
}

.fr-text-wrap {
  max-width: 42rem;
}

// we want a background for inline code samples (within text)
code {
  background: var(--background-default-grey-active);
}

// but not the actual code snippets
pre > code {
  background: initial;
}
