@import "dsfr/dsfr.min";

// code CSS
@import "highlight";

figure {
  padding: 0;
  margin: 0;
}

.fr-text-wrap {
  max-width: 42rem;
}

code {
  background: var(--background-alt-grey);
  font-size: 0.9rem;
}
