require 'sass-embedded'

preprocess do
  dsfr_dir = Gem::Specification.find_by_name('dsfr-assets').gem_dir
  Dir.entries("#{dsfr_dir}/vendor/assets/stylesheets").each do |entry|
    next if %w[. ..].include?(entry)

    FileUtils.cp_r "#{dsfr_dir}/vendor/assets/stylesheets/#{entry}", 'content/stylesheets'
  end
  Dir.entries("#{dsfr_dir}/vendor/assets/javascripts").each do |entry|
    next if %w[. ..].include?(entry)

    FileUtils.cp_r "#{dsfr_dir}/vendor/assets/javascripts/#{entry}", 'content/javascripts'
  end
end

compile '/index.haml' do
  filter :haml, escape_html: false
  layout '/default.haml'
  filter :relativize_paths, type: :html5
  write '/index.html'
end

compile '/**/*.haml' do
  filter :haml, escape_html: false
  filter :colorize_syntax, default_colorizer: :rouge
  filter :rubypants
  layout '/default.haml'
  filter :relativize_paths, type: :html5
  write "#{item.identifier.without_ext}/index.html"
end

ignore '/**/_*.scss'
compile '/**/*.scss' do
  filter(
    :dart_sass,
    target: "content/#{item.identifier}",
  )
  write "#{item.identifier.without_ext}.css"
end

compile '/sitemap.xml' do
  filter :erb
  write '/sitemap.xml'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*.haml', :haml, escape_html: false

