name: Deploy Guide to GitHub Pages
on:
  push:
    branches:
      - main
      - feature/use-gh-actions-deploy-pages
jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploy Guide
    steps:
      - uses: actions/checkout@v2
      - name: Install Ruby & gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.1.2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: make build-guide
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
