name: Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  rspec:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2.10', '3.3.10', '3.4.8']
        rails: ['8.0.4']
    runs-on: ubuntu-latest
    name: Testing with Ruby ${{ matrix.ruby }} and Rails ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install gems
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Run RSpec
        env:
          SIMPLECOV: '0'
        run: make rspec

  quality_checks:
    runs-on: ubuntu-latest
    name: Code quality, test coverage and documentation checks
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8

      - name: Install gems
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Run Rubocop
        run: make ruby-lint

      - name: Run RSpec
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          SIMPLECOV: '1'
        run: make rspec

      - name: Run Guide Nanoc Check
        run: make nanoc-check-all

      - name: Run Guide Haml Lint
        run: make haml-lint
